name = "AURIS"
uuid = "991bd463-552e-4456-8203-772a2086edf8"
authors = ["Paul Barrett", "Paul Tiede", "James McGarry", "Will Golay"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
